@import url("reset.css");
@import url("fonts.css");

.centr-position{
    width:1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

.header{
    height: 813px;
    background-image: url(../img/header-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text {
    width: 720px;
    margin: 0 auto;
    padding-top: 225px;
    color: #282828;
    font-family: 'Exo Thin';
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 2.4px;
    text-align: center;
}
.play-circle{
    margin: 0 auto;
    height: 59px;
    width: 59px;
    border-radius: 50%;
    background-color: #8286a3;
    margin-top: 30px;
    margin-bottom: 39px;
    cursor: pointer;
}
.btn-try-now{
    width: 190px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff6d6d;
    text-align: center;
    margin: 0 auto;
}
.btn-try-now_text{
    color: #ffffff;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    cursor: pointer;
}
.header-text-alt{
    margin: 0 auto;
    opacity: 0.6;
    color: #282828;
    font-family: 'Exo Regular';
    font-size: 14px;
    width: 205px;
    margin-top: 19px;    
}

/*************/
.design{
    height: 725px;
}
.left-col{
    width: 575px;
    margin-top: 170px;
    margin-right: 150px;
    font-family: 'Exo Medium';
    font-size: 16px;
    color: #282828;
    line-height: 50px;
}
.design-title{
        color: #ff6d6d;       
        text-transform: uppercase;
        letter-spacing: 3.2px;
}
.design-subtitle{        
        font-size: 40px ;   
        letter-spacing: 1.6px;     
        margin-bottom: 45px;
}
.design-subtitle-alt{
    color: #ff6d6d;
    font-size: 40px ;     
    letter-spacing: 1.6px;
}
.design-text{
    opacity: 0.66;
    letter-spacing: 0.64px;    
    line-height: 26px;
    margin-bottom: 40px;
}

.design-right-column-rect{
    width: 678px;
    height: 724px;
   
    background: linear-gradient(135deg, #ececec 50%, #fb8686 50%);
}

/*******************/
.features{
    background-image: url(../img/features-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    text-align: center;
    
    font-family: 'Exo Medium';
}

.features-title{
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
   
    text-transform: uppercase;
    letter-spacing: 3.2px;

    padding-top: 138px;
}
.features-subtitle{
   
    color: #282828;
    font-size: 40px;
    font-weight: 500;
    line-height: 49.97px;
    letter-spacing: 1.6px;

    margin-bottom: 90px;
}

.features-content{
    justify-content: space-between;    
}
.features-circle{
    margin: 0 auto;
    width: 66px;
    height: 66px;/*
    background-image: url(../img/features1.png);/*
    border: 1px solid rgba(14, 15, 15, 0.15);
    border-radius: 50%;*/
}


.features-column-title{
   color: #282828;
    font-size: 22px;
    font-weight: 500;
    line-height: 49.97px;
    letter-spacing: 0.88px;
}

.features-column-text{
    width: 344px;
    opacity: 0.66;
    color: #282828;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.64px;
}
