@import url("reset.css");
@import url("fonts.css");
@import url("font-awesome.min.css");

.centr-position{
    width:1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: 'Exo Medium';
    font-size: 16px;
    color: #282828;
    font-size: 40px ;   
        letter-spacing: 1.6px; 

}
.subtitle{
    font-family: 'Exo Medium';
    font-size: 16px;
    color: #ff6d6d;
    font-size: 16px;
   
    text-transform: uppercase;
    letter-spacing: 3.2px;

    line-height: 50px;
}
.rel{
    position: relative;
}


.header{
    height: 813px;
    background-image: url(../img/header-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text {
    width: 720px;
    margin: 0 auto;
    padding-top: 225px;
    color: #282828;
    font-family: 'Exo Thin';
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 2.4px;
    text-align: center;
}
.play-circle{
    margin: 0 auto;
    height: 59px;
    width: 59px;
    border-radius: 50%;
    background-color: #8286a3;
    margin-top: 30px;
    margin-bottom: 39px;
    cursor: pointer;
}
.btn-try-now{
    width: 190px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff6d6d;
    text-align: center;
    margin: 0 auto;
}
.btn-try-now_text{
    color: #ffffff;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    cursor: pointer;
}
.header-text-alt{
    margin: 0 auto;
    opacity: 0.6;
    color: #282828;
    font-family: 'Exo Regular';
    font-size: 14px;
    width: 205px;
    margin-top: 19px;    
}

/*************/
.design{
    height: 725px;
}
.design-content{
    width: 575px;
    margin-top: 170px;
    margin-right: 150px;
    font-family: 'Exo Medium';
    font-size: 16px;
    color: #282828;
    line-height: 50px;
    
}
.design-title{
        color: #ff6d6d;       
        text-transform: uppercase;
        letter-spacing: 3.2px;
}
.design-subtitle{        
        font-size: 40px ;   
        letter-spacing: 1.6px;     
        margin-bottom: 45px;
}
.design-subtitle-alt{
    color: #ff6d6d;
    font-size: 40px ;     
    letter-spacing: 1.6px;
}
.design-text{
    opacity: 0.66;
    letter-spacing: 0.64px;    
    line-height: 26px;
    margin-bottom: 40px;
}

.design-right-column-rect{
    width: 678px;
    height: 724px;
   
    background: linear-gradient(135deg, #ececec 50%, #fb8686 50%);
}
.design-img{
    padding-top: 90px;
}

/*******************/
.features{
    background-image: url(../img/features-bgr.png);
    background-image: url(../img/features-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    text-align: center;
    
    font-family: 'Exo Medium';
}

.features-title{
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
   
    text-transform: uppercase;
    letter-spacing: 3.2px;

    padding-top: 138px;
}
.features-subtitle{
   
    color: #282828;
    font-size: 40px;
    font-weight: 500;
    line-height: 49.97px;
    letter-spacing: 1.6px;

    margin-bottom: 90px;
}

.features-content{
    justify-content: space-between;    
}
.features-circle{
    margin: 0 auto;
    width: 66px;
    height: 66px;/*
    background-image: url(../img/features1.png);/*
    border: 1px solid rgba(14, 15, 15, 0.15);
    border-radius: 50%;*/
}


.features-column-title{
   color: #282828;
    font-size: 22px;
    font-weight: 500;
    line-height: 49.97px;
    letter-spacing: 0.88px;
}

.features-column-text{
    width: 344px;
    opacity: 0.66;
    color: #282828;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.64px;
}



/**************/
.clients{
    height: 648px;
    
    background-image: url(../img/clients-bgr.png);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.clients-photo-rect{
    width: 76px;
    height: 76px;
    border: 2px solid #1d1e24;
    background-color: #4e4e5e;
}
.clients-column{
    align-items: center;
    
}
.clients-row{
    padding-top: 110px;
    justify-content: space-between;
}
.client-name{
       
    color: #ffffff;
    
    font-family: 'Exo Medium';
    font-size: 22px;
    line-height: 49.97px;
    letter-spacing: 0.88px;
}

.client-position{
   
    color: #ff6d6d;
    font-family: 'Exo Medium';
    font-size: 16px;
    line-height: 49.97px;
}

.client-comment{
    width: 324px;
    opacity: 0.66;
    color: #ffffff;
    font-family:'Exo Regular Italic';
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.64px;
    text-align: center;
}
.logo-row{
    padding-top: 80px;
    height: 65px;
    width: 965px;
    justify-content: space-between;
    margin: 0 auto;
}
.logo{
    height: 65px;
    width: 100px;
}

/***************/
.browser{
    
    height: 754px;
    background-color: #f6f5f3;
    text-align: center;
    padding-top: 110px;
}
.browser-text{
    padding-top: 50px;
    width: 647px;
    opacity: 0.66;
    color: #282828;
    font-family: 'Exo Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.64px;
    text-align: center;
    margin: 0 auto;
}
.browser-img{

    margin: 0 auto;
    margin-top: 100px;
}


/*****************/

.try-now{
    height: 467px;
    background-color: #323969;
    padding-top: 90px;
    text-align: center;
    color: #ffffff;
}
.try-now-title{
    color: #ffffff;
}

.try-now-input-row{
    padding-top: 95px;
    justify-content: space-between;
    width: 100%;
}
.try-now-input{
    width: 261px;
    height: 46px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: #474d78;
    color: #ffffff;
}
.try-now-input::placeholder{
        padding-left: 29px;
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 75px;
    text-transform: uppercase;
    /* Text style for "FULL NAME" */
    letter-spacing: 0.64px;
   
}
.try-now-button{
    width: 258px;
    height: 50px;
    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
    border-radius: 3px;
    border: 1px solid #ff6d6d;
    background-color: #ff6d6d;

    
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    /* Text style for "TRY NOW" */
    letter-spacing: 0.81px;
}
.try-now-agreenment
{
    opacity: 0.6;
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 75px;
    letter-spacing: 0.64px;
}

.try-now-arrow-img, .try-now-sale{
    position: absolute;
}
.try-now-arrow-img{
    left: 917px;
    top: 41px;
}
.try-now-sale{
    left: 950px;
    top: 7px;

  
    height: 18px;
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 75px;
    letter-spacing: 0.64px;
}
/************/
.footer{
    height: 238px;
    padding-top: 94px;
    justify-content: space-around;
}

.footer-triangle{
    position: absolute;     
    left: 65px;
    top: -7px;
}
.footer-logo{
    color: #2c2f49;
    font-family: 'Lato Regular';
    font-size: 27px;   
}
.footer-logo-alt{
    z-index: 3000;
    color: #ffffff;
    padding-left: 8px;
}

.footer-about{
    padding-top: 28px;
    width: 232px;
    opacity: 0.56;
    color: #282828;
    font-family: 'Exo Medium';
    font-size: 14px;
    line-height: 26px;
    /* Text style for "Aenean lac" */
    letter-spacing: 0.56px;
}
.footer-link{
    text-decoration: none;  
    opacity: 0.66;
    color: #282828;
    font-family: 'Exo Regular';

    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.56px;
}

.footer-column-title{
  
    color: #282828;
    font-family: 'Exo Medium';
    font-size: 22px;
    letter-spacing: 0.88px;
    padding-bottom: 22px;
}

.footer-email{
  
    width: 263px;
    height: 46px;
    border-radius: 3px;
    border: 1px solid #b8b8bf;
    background-color: #f6f6f6;

}
.footer-email::placeholder{
    padding-left: 29px;
    opacity: 0.4;
    color: #000000;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 49px;
    text-transform: uppercase;
    letter-spacing: 0.64px;
}

.circle-twitter-icon{

}

.footer-icon{
    color: #cccccc;
    font-size: 21px;
}
.footer-icon-row{
    width: 154px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between
}
