@import url("reset.css");
@import url("fonts.css");
@import url("font-awesome.min.css");

.centr-position{
    max-width:1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.rel{
    position: relative;
}
.title{
    color: #282828;
    font-family: 'Exo Medium';
    font-size: 40px;   
    letter-spacing: 1.6px; 
    line-height: 50px;
}
.title-alt{
    color: #ff6d6d;
    font-family: 'Exo Medium';
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1.6px;
}
.title-white{
    color: #ffffff;
    font-family: 'Exo Medium';
    font-size: 40px;   
    letter-spacing: 1.6px; 
    line-height: 50px;
}
.subtitle{
    color: #ff6d6d;
    font-family: 'Exo Medium';
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 3.2px;
    text-transform: uppercase;    
}
.text{ 
    color: #282828;  
    opacity: 0.66;  
    font-family: 'Exo Medium';
    font-size: 16px;
    line-height: 26px;    
    letter-spacing: 0.64px;
}
.column-title{
    color: #282828; 
    font-family: 'Exo Medium';
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 0.88px;
} 

.header{
    height: 100%;
    
    width: 100%;
    background-image: url(../img/header-bgr.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.header-text {
  max-width: 720px;
    margin: 0 auto;
    padding-top: 225px;
    color: #282828;

    font-family: 'Exo Thin';
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 2.4px;
    text-align: center;
}
.play-circle{
    margin: 0 auto;
    height: 59px;
    width: 59px;
    border-radius: 50%;
    background-color: #8286a3;
    margin-top: 30px;
    margin-bottom: 39px;
    cursor: pointer;
}
.btn-try-now{
    width: 190px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff6d6d;
    text-align: center;
    margin: 0 auto;
}
.btn-try-now_text{
    color: #ffffff;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    cursor: pointer;
}
.header-text-alt{
    margin: 0 auto;
    opacity: 0.6;
    color: #282828;
    font-family: 'Exo Regular';
    font-size: 14px;
    width: 205px;
    margin-top: 19px;    
}

/*************/

.design{
    background: linear-gradient(90deg, #ffffff 60%, #ececec 40%);
}
.design-content{
    width: 575px;
    margin-top: 170px; 
    z-index: 1000;     
}
.design-content-alt{
    max-width: 505px;
    margin-top: 90px; 
    margin-left: 590px;     
}
.design-header--pad{
    margin-bottom: 45px;
}
.design-header--pad-alt{
    margin-bottom: 35px;
}
.design-text{   
    margin-bottom: 35px;
}
.design-right-column-rect{
   z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom right, #ececec 50%, #fb8686 50%);
    width: 40%;
    height: 480px;
}
.macbook{
    top: 90px;
    position: absolute;
    left: -100px;
    z-index: 1000;
}
.design-alt-rect-gradient{
    position: absolute;
    width:42%;
    height: 550px;
    top: 0;
    left: 0; 
    background: linear-gradient(45deg, #fb8686 49%, #ffffff 0%);
}
.design-alt-section {
  
}

/*******************/

.features{
    background-color: #f6f5f3;    
    text-align: center;   
   
}
.pen-holder{
    position: absolute;
    top: 0;
    left: -70px;
}
.headphone{
    position: absolute;
    top: 0;
    right: 0;
}
.cup-coffee{
    position: absolute;
    bottom: 0;
    right: -90px;
}
.features-header{  
    padding-top: 135px; 
    margin-bottom: 90px;
}
.features-content{
    justify-content: space-between;    
    padding-bottom: 160px;
}
.features-content-column--width{
    width: 344px;
}
.features-circle{
    margin: 0 auto;
    width: 66px;
    height: 66px;
}

/**************/

.clients{
    background-image: url(../img/clients-bgr.png);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.clients-photo-rect{
    width: 76px;
    height: 76px;
    border: 2px solid #1d1e24;
    background-color: #4e4e5e;
}
.clients-column{
    align-items: center;
    padding-top: 10px;
}
.clients-row{
    padding-top: 110px;
    justify-content: space-between;
}
.client-name{       
    color: #ffffff;    
    font-family: 'Exo Medium';
    font-size: 22px;
    line-height: 49.97px;
    letter-spacing: 0.88px;
}
.client-position{   
    color: #ff6d6d;
    font-family: 'Exo Medium';
    font-size: 16px;
    line-height: 49.97px;
}

.client-comment{
    width: 324px;
    opacity: 0.66;
    color: #ffffff;
    font-family:'Exo Regular Italic';
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.64px;
    text-align: center;
}
.logo-row{
    padding-top: 80px;
    padding-bottom: 85px;
    height: 65px;
   
    justify-content: space-between;
    margin: 0 auto;
}
.logo{
    height: 65px;
    width: 100px;
}

/***************/

.browser{    
    background-color: #f6f5f3;
    text-align: center;
    padding-top: 100px;
}
.browser-text{
    padding-top: 50px;
    max-width: 647px;
    
    text-align: center;
    margin: 0 auto;
}
.browser-img{
    margin: 0 auto;
    margin-top: 151px;
}

/*****************/

.try-now{
    background-color: #323969;
    padding-top: 90px;
    text-align: center;
    color: #ffffff;
}

.try-now-input-row{
    padding-top: 95px;
    justify-content: space-between;
    width: 100%;
}
.try-now-input{
    width: 261px;
    height: 46px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: #474d78;
    color: #ffffff;
}
.try-now-input::placeholder{
    padding-left: 29px;
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 0.64px;   
}
.try-now-button{
    width: 258px;
    height: 50px;
    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
    border-radius: 3px;
    border: 1px solid #ff6d6d;
    background-color: #ff6d6d;
    
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.81px;
}
.try-now-agreenment
{
    opacity: 0.6;
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;    
    letter-spacing: 0.64px;
    padding-top: 50px;

    padding-bottom: 75px;
}
.try-now-arrow-img, .try-now-sale{
    position: absolute;
}
.try-now-arrow-img{
    left: 900px;
    top: 41px;
}
.try-now-sale{
    left: 930px;
    top: 7px;  
    height: 18px;
    color: #f6f5f3;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 75px;
    letter-spacing: 0.64px;
}

/************/

.footer{
    height: 238px;   
}
.footer-content{
    padding-top: 94px;
    justify-content: space-around;
    z-index: 1000;
}
.footer-triangle{
    position: absolute;     
    left: 65px;
    top: -7px;
}
.footer-logo{
    color: #2c2f49;
    font-family: 'Lato Regular';
    font-size: 27px;   
}
.footer-logo-alt{
    z-index: 3000;
    color: #ffffff;
    padding-left: 8px;
}
.footer-about{
    padding-top: 28px;
    width: 232px;
    opacity: 0.56;
    color: #282828;
    font-family: 'Exo Medium';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.56px;
}
.link-tel{
    text-decoration: none;
}
.footer-link{
    text-decoration: none;  
    opacity: 0.66;
    color: #282828;
    font-family: 'Exo Regular';

    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.56px;
}
.footer-icon:hover{
    color: #474d78;
}
.footer-column-title{  
    color: #282828;
    font-family: 'Exo Medium';
    font-size: 22px;
    letter-spacing: 0.88px;
    padding-bottom: 22px;
}

.footer-email{
  
    width: 191px;
    height: 26px;
    border: 1px solid #b8b8bf;
    background-color: #f6f6f6;
    border-right: none;
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}
.footer-email::placeholder{
    padding-left: 29px;
    opacity: 0.4;
    color: #000000;
    font-family: 'Exo Regular';
    font-size: 16px;
    line-height: 49px;
    text-transform: uppercase;
    letter-spacing: 0.64px;
}
.footer-subsribe{
    /* Style for "Rounded Re" */
    width: 52px;
    height: 49px;
    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
    border-radius: 3px;
    border: 1px solid #ff6d6d;
    background-color: #ff6d6d;
    
    background-image: url('../img/subscribe-arrow.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}
.footer-icon{
    color: #cccccc;
    font-size: 21px;
}
.footer-icon-row{
    width: 154px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between
}
.footer-gradient{
    width: 22%;
    height: 333px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to top right, #ffffff 50%, #fb8686 50%);
    z-index: -5;
}



@media screen and (max-width: 600px){ 
    .centr-position{
        width: calc(100%-10px);
    }
    .header-text{
        padding-top: 30px;
        font-size: 35px;
        line-height: 40px;
    }
    .play-circle {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .header-text-alt{
        color: #ff1010;       
    }
    .design{
        background: #ffffff;
    }
    .design-content{
        width: 100%;
        margin-top: 10px;      
    }
    .features-content{
        flex-direction: column;
        align-items: center;
    }
  
    .design-content-alt{
        margin-left: 10px;  
    }
    .clients-row{
        flex-direction: column;
    }
    .try-now-input-row{
        flex-direction: column;
        align-items: center;
        height: 400px;        
    }
    .try-now-arrow-img{
        left: calc(50% - 110px);
        top: 380px;
    }
    .try-now-sale{
        left: calc(50% - 80px);
        top: 350px;
    }
    .try-now-button{
        margin-top: 75px;
    }
    .footer-content{
        flex-direction: column;
    }
    .logo-row, .macbook, .design-alt-rect-gradient,
    .browser-img,  .cup-coffee, .headphone, .pen-holder,
    .design-right-column-rect{
        display: none;
    
    }
}

@media screen and (min-width: 601px) 
and (max-width: 800px) {   
    .header-text{
        padding-top: 30px;
        font-size: 35px;
        line-height: 40px;
    }
    .header-text-alt{
        color: #ff1010;
    }    
    .design-content{        
        margin-top: 10px;      
    }
    .features-content{
        flex-direction: column;
        align-items: center;
    }
    .cup-coffee{
        right: 0;
    }    
     .macbook{
        left: 0;
        top: 170px
     }
     .laptop-text{
        width: 445px;
        position: absolute;
        top: 210px;
        left: 100px;
        z-index: 2000;
     }
     
    .design-content-alt{
       margin-left: 10px;  
       margin-top: 10px;
    }
    .design-alt-section{
        height: 545px;
    }
    .clients-row{
        flex-direction: column;
    }    
    .try-now-input-row{
        flex-direction: column;
        align-items: center;
        height: 400px;        
     }
    .try-now-arrow-img{
        left: calc(50% - 110px);
        top: 380px;
    }
    .try-now-sale{
        left: calc(50% - 80px);
        top: 350px;
    }
    .try-now-button{
        margin-top: 75px;
    }
    .footer-content{
        flex-direction: column;
    }
    .logo-row,  .browser-img, .design-alt-rect-gradient,
    .design-right-column-rect,
    .headphone{
        display: none;
    }
}
@media screen and (min-width: 801px) 
and (max-width: 1023px) {
    .header-text{
        padding-top: 115px;
        font-size: 55px;
        line-height: 60px;
    }
    .design{
        height: 725px;
    }
    .cup-coffee{
        right: 0;
    }
        .macbook{
        left: -160px;
    }
    .design-content-alt{
        margin-left: 462px;
    }
     .design-alt-section{
        height: 550px;
    }
    .clients-row{
        flex-direction: column;
    }
    .try-now-input-row{
        flex-wrap: wrap;
        margin-left: 30px;
        width: 770px;
    }
    .try-now-input{
        width: 200px;
    }
    .try-now-arrow-img{
        left: 69px;
        top: 169px;
    }
    .try-now-sale{
        left: 90px;
        top: 145px;
    }
    .try-now-button{
        margin-top: 75px;
        margin-left: 100px;
    }
    .logo-row {
    display: none;
   }
} 
@media screen and (min-width: 1024px) 
 {
    .header{
        height: 813px;
    }       
    .design{
        height: 725px;
    }
    .design-alt-section{
        height: 550px;
    }
    .browser{
        height: 754px;
    }
    
     
}  

